*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
main{
    background-color: #1a1c28;
    height: 500px;
    width: 800px;
    margin: 70px auto;
    display: grid;
    grid-template-areas: 
    'a a a a b b'
    'a a a a b b'
    'c c c d d d'
    'c c c e e e'
    ;
    gap: 10px;
    padding: 20px 100px 30px 50px;
}
.a{
    background-color: #eb5020;
    grid-area: a;
}
.b{
    background-color: #ffa401;
    grid-area: b;
}
.c{
    background-color: #05aa42;
    grid-area: c;
}
.d{
    background-color: #01aefd;
    grid-area: d;
}
.e{
    background-color: #01aefd;
    grid-area: e;
}